* {
    box-sizing:  border-box;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  line-height: 1.5;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container { 
  max-width: 1158px; 
  padding: 0 15px;
  margin: 0 auto;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
/* #region header */

.main-header {
  border-bottom: 1px solid #e7e9fc;
   box-shadow: 0 2px 1px rgba(46, 47, 66, 0.08),
              0 1px 1px rgba(46, 47, 66, 0.16),
              0 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page-nav{
display: flex;
align-items: center;
}
.header-title {
  margin-right: 76px;
 font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2E2F42;
text-decoration: none;
}
.title-accent {
 color: #4D5AE5;
}

.nav-list {
display: flex;
align-items: center;
gap: 40px;
}
.nav-item-link.current{
  color: #404bbf;
}
.nav-item-link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
.nav-item {
  display: inline-block;
  position: relative;
  padding: 0;
line-height: 1.5;
}

.nav-item-link {
  display: block;
  font-weight: 500;
   position: relative;
font-size: 16px;
letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-item-link:hover,
.nav-item-link:focus {
  color: #404bbf;       
}
.nav-item-link.nav-item-studio:active {
    color: #404bbf;     
  text-decoration: underline;
}
.address {
    font-style: normal;
    margin-left: auto;
}
.social-list {
  display: flex;
  align-items: center;
  gap: 40px;
font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

.social-item-link {
  display: block;
  padding: 24px 0;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em; text-decoration: none;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
color: #434455;
}
.social-item-link:hover,
.social-item-link:focus
 {
  color: #404bbf;       
}
/* #endregion header */
/* #region main */
/* #region hero */

.hero-section {
  background-image: linear-gradient(rgba(46,47,66,0.7), rgba(46,47,66,0.7)), url(../images/back1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
    text-align: center;
    padding:188px 0;
}
.main-title {
  padding-bottom: 48px;
  max-width: 496px;
margin: 0 auto;
font-family: 'Roboto', sans-serif;
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #ffffff;
}
.button {
   min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
background-color: #4D5AE5;
color: #ffffff;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
letter-spacing: 0.04em;
cursor: pointer;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.button:hover,
.button:focus {
    background-color: #404BBF;
}
/* #endregion hero */
/* #region features */
.features-section {
    background-color: #ffffff;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features-list {
  display: flex;
 gap: 24px;
}
.features-item{
width: calc((100% - 72px) / 4);
}
.features-icons{
  display: flex;
    justify-content: center;
  align-items: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background-color: #f4f4fd;
width: 100%;
height: 112px;
margin-bottom: 8px;
}
.features-icons-item{
  width: 64px;
  height: 64px;
}
.features-item-title {
  padding-bottom: 8px;
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
}
.features-item-text{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}
/* #endregion features */
/* #region team */

.our-team-section{
    background-color: #f4f4fd;
}
.our-team-tittle{
  margin-bottom: 72px;
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
}
.our-team-list{
  display: flex;
  gap: 24px;
}
.our-team-item{
background-color: #ffffff;
border-radius: 0 0 4px 4px;
overflow: hidden;
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.employe-photo{
display: block;
}
.team-content {
 padding: 32px 16px;
  text-align: center;
}


.employe-name{
  padding-bottom: 8px;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2E2F42;
}
.employe-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}
.social-icons-list{
  display: flex;
  gap: 24px;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.social-icons-link{
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f4f4fd;
  background-color: #4D5AE5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icons-link:hover,
.social-icons-link:focus{
  background-color: #404BBF;
}
.social-icons-svg{
  fill: currentColor;
}
/* #endregion team */
/* #region portfolio */
.portfolio-title {
  padding-bottom: 72px;
  font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2E2F42;
}
.portfolio-list{
display: flex;
flex-wrap: wrap;
gap:48px 24px;
}

.portfolio-list-item{
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-thumb {
  position: relative;
  overflow: hidden; 
}
.portfolio-overlay {
  position: absolute;
  inset: 0;
  padding: 40px 32px;
  display: flex;
  align-items: center;
   background-color: #4D5AE5;
  color: #F4F4FD;  
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transform: translateY(100%); 
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover .portfolio-overlay,
.portfolio-list-item:focus-within .portfolio-overlay {
  transform: translateY(0);
}
.portfolio-list-item:hover,
.portfolio-list-item:focus-within {
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-item-image{
display: block;
width: 100%;
height: 300px;
object-fit: cover;
}
.portfolio-content {
  border: 1px solid #e7e9fc;
  padding: 32px 16px;
  border-top: none;
}
.portfolio-item-title{
  margin: 0 0 8px;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
}
.portfolio-item-text{
  margin: 0;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}
/* #endregion portfolio */
/* #endregion main */
/* #region footer */
.footer {
  padding: 100px 0;
    background-color: #2E2F42;
}
.footer-container{
  display: flex;
  align-items: baseline;
  gap: 120px;
}
.footer-logo {
 padding: 0;
 margin: 0;
}
.title-end {
  font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #f4f4fd;
text-decoration: none;
}
.footer-info {
  max-width: 264px;
  padding-top: 16px;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
}
.footer-socials {
 font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #fff;
margin-bottom: 16px;
}
.footer-social-list {
  display: flex;
  gap: 16px;
}
.footer-social-link {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f4f4fd;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4,0,0.2,1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}
.footer-subscribe {
  margin-left: auto; /* щоб третій блок пішов правіше (як на макеті) */
}

.footer-form {
  display: flex;
  gap: 24px;
}

.footer-input {
  width: 264px;
  height: 40px;
  padding-left: 16px;

  border: 1px solid #ffffff;
  border-radius: 4px;

  background-color: transparent;
  color: #ffffff;

  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;

  outline: transparent;
}

.footer-input::placeholder {
  color: #ffffff;
}

.footer-button {
  min-width: 165px;
  height: 40px;
  padding: 8px 24px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  border: none;
  border-radius: 4px;

  background-color: #4D5AE5;
  color: #ffffff;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4,0,0.2,1);
}

.footer-button:hover,
.footer-button:focus {
  background-color: #404BBF;
}

.footer-button-icon {
  fill: #ffffff;
}
/* #endregion footer */
/* #region overlay */
.backdrop {
 background-color: rgba(46, 47, 66, 0.4);
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: 999;
 display: flex;
 justify-content: center;
 align-items: center;
 opacity: 1;
 padding: 24px;
 visibility: visible;
 pointer-events: none;
 transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal{
  position: relative; 
  background-color: #fcfcfc;
  width: 408px;
min-height: 584px;
margin-top: 0;
  border-radius: 4px;
  overflow-y: auto;
  padding: 72px 24px 24px;
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.modal-close-button {
  background-color: #404BBF;
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  position: absolute;
  background-color: #E7E9FC; 
border-radius: 50%;
  border: none;
  cursor: pointer;
}
.modal-close-icon {
  fill: #2E2F42;
}
.modal-close-button:hover,
.modal-close-button:focus {
  background-color: #404BBF;
  border: none;
}

.modal-close-button:hover .modal-close-icon,
.modal-close-button:focus .modal-close-icon {
  fill: #ffffff;
}
.backdrop-paragraph{
  margin: 0 auto 16px;
  max-width: 360px;
  font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}
.modal-field {
  margin-bottom: 8px;
}
.modal-field-textarea {
  margin-bottom: 16px;
}
.modal-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8E8F99;
  margin-bottom: 4px;
}
.input-wrap {
  position: relative;
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4,0,0.2,1);
}
.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: #2E2F42;
  transition: fill 250ms cubic-bezier(0.4,0,0.2,1);
}

.modal-input:focus {
  border-color: #4D5AE5;
}

.modal-input:focus + .input-icon {
  fill: #4D5AE5;
}


.modal-textarea {
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 8px 16px;
  outline: transparent;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4,0,0.2,1);
}

.modal-textarea:focus {
  border-color: #4D5AE5;
}


.modal-check {
  margin-bottom: 24px;
}

.modal-check-input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.modal-check-label {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8E8F99;
}

.check-box {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  background-color: transparent;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  fill: transparent;

  transition:
    background-color 250ms cubic-bezier(0.4,0,0.2,1),
    border 250ms cubic-bezier(0.4,0,0.2,1),
    fill 250ms cubic-bezier(0.4,0,0.2,1);
}

.check-icon {
  fill: transparent;
}

.modal-check-input:checked + .modal-check-label .check-box {
  background-color: #404BBF;
  border: none;
}

.modal-check-input:checked + .modal-check-label .check-icon {
  fill: #F4F4FD;
}
.modal-check-label:hover .check-box,
.modal-check-input:focus + .modal-check-label .check-box {
  border-color: #4D5AE5;
}


.privacy-link {
  color: #4D5AE5;
  text-decoration: underline;
}


.modal-submit {
  display: block;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  background-color: #4D5AE5;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0,0,0,0.15);
  transition: background-color 250ms cubic-bezier(0.4,0,0.2,1);
}

.modal-submit:hover,
.modal-submit:focus {
  background-color: #404BBF;
}
/* #endregion overlay */